/* Login.css */
.login-page {
    background-image: url('https://www.en.etemaaddaily.com/pages/world/hyderabad/4501iithyderabad1.jpg');
    background-size: cover;
    background-position: center;
  }
  